:root {
  --color-black: black;
  --color-white: white;
 
  --color-gray-light: white;
  --color-gray-dark: #252525;

  --font-family-montserrat: 'Montserrat', sans-serif;
  --font-size-mobile: 16px;
}
